{{ if .Values.redisinsight.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redisinsight
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redisinsight
  template:
    metadata:
      labels:
        app: redisinsight
    spec:
      containers:
        - name: redisinsight
          image: {{ .Values.REDISINSIGHT_DOCKER_IMAGE }}
          ports:
            - containerPort: {{ .Values.REDISINSIGHT_PORT }}
              name: http
          envFrom:
            - configMapRef:
                name: redisinsight-config
{{ end }}