{{ if .Values.lsadf_api.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: lsadf-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lsadf-api
  template:
    metadata:
      labels:
        app: lsadf-api
    spec:
      hostAliases:
        - ip: {{ .Values.K8S_IP }}
          hostnames:
            - "keycloak.local"
      containers:
        - name: lsadf-api
          image: {{ .Values.LSADF_API_DOCKER_IMAGE }}
          imagePullPolicy: Never
          env:
            - name: SLEEP_ENABLED
              value: "true"
          envFrom:
            - secretRef:
                name: lsadf-api-secret
          ports:
            - containerPort: {{ .Values.LSADF_API_PORT }}
              name: http
          volumeMounts:
            - mountPath: /app/logs
              name: lsadf-api-volume
      volumes:
        - name: lsadf-api-volume
          persistentVolumeClaim:
            claimName: lsadf-api-volume-claim
{{ end }}