{{ if .Values.keycloak.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
        - name: keycloak
          image: {{ .Values.KEYCLOAK_DOCKER_IMAGE}}
          args: [ "start-dev", "--http-port", "{{ .Values.KEYCLOAK_PORT}}" ]
          envFrom:
            - secretRef:
                name: keycloak-secret
          ports:
            - name: http
              containerPort: {{ .Values.KEYCLOAK_PORT }}
{{ end }}