apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lsadf-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - host: keycloak.lsadf.ovh # Use keycloak.local for local development
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: keycloak-service
                port:
                  number: {{ .Values.KEYCLOAK_PORT }}
    - host: api.lsadf.ovh # Use api.local for local development
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: lsadf-api-service
                port:
                  number: {{ .Values.LSADF_API_PORT }}
